/* преимущества benefits*/
.benefits h2 {
  text-align: center;
}

.benefits-list {
  //display: flex;
  margin-bottom: -30px;
  /*margin-top: 94px;
  margin-bottom: 94px;*/
  //margin-top: 60px;
  //margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 94px;
    margin-bottom: 94px;
    margin-left: -30px;
  }
}

.benefits-list__text {
  //&:not(:last-child) {
  // margin-right: 32px;
  //}
  //width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc (100% / 2 -120px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc (100% / 4 -60px);
    margin-left: 30px;
  }
  h3 {
    margin: 0;
    //margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.text-benefits p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  //text-align: left;
}

.benefits-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: absolute;*/
  // width: 270px;
  height: 120px;
  //width: 100%;
  //height: auto;
  //left: 215px;
  //top: 774px;

  background: #f5f4fa;
  //border-radius: 4px;
  //padding: 25px 100px 25px 100px;
  //margin-bottom: 30px;
  //margin-left: auto;
  //margin-right: auto;
  //margin-top: 60px;
  //margin-bottom: 60px;
}
