/* Футер */
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bottom-box {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.bottom-icons-futer {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
.bottom .container {
  display: flex;
  background-color: #2f303a;
  margin-top: 0px;
  //align-items: baseline;
  //flex-direction: column;
}

.bottom-futer {
  display: flex;
  flex-direction: column;
  align-items: center;
  //display: block;
  // display: table-cell;
  margin-top: 0px;
  //align-content: center;
  //align-items: baseline;
  //margin-right: 70px;
  margin-bottom: 60px;
  flex-grow: 1;
  @media screen and (min-width: 1200px) {
    display: block;
    display: table-cell;
  }
}
.bottom-list {
  display: block;
  display: table-cell;
  margin-top: 0px;
  align-content: center;
  /* align-items: baseline;*/
  /*margin-right: 70px;*/
}
.bottom-list__link-bottom {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.bottom address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.bottom-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
  margin-bottom: 20px;
}
.bottom-logo a {
  color: #2196f3;
}
.bottom-logo span {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.masters-socials-futer__link {
  background: rgba(255, 255, 255, 0.1);
}
.icons-futer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  // display: block;
  // display: table-cell;
  margin-top: 0px;
  //align-content: center;
  /*display: flex;
     justify-content: center;
     align-items: center;
     display: block;*/
  /* width: 206px;*/
  //height: 80px;
  //margin-right: 93px;
  /*margin-left: 70px;*/
  @media screen and (min-width: 1200px) {
    display: block;
    display: table-cell;
  }
}
.icons-futer h2 {
  //text-align: left;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;

  color: #ffffff;
  padding-bottom: 10px;
}

.masters-socials-futer__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.masters-socials-futer {
  margin-left: 0px;
  margin-right: 93px;
}
.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: flex-end;
  @media screen and (min-width: 1200px) {
    // display: block;
    //display: table-cell;
    justify-content: flex-end;
  }
}
.form-box__futer-icon {
  //display: flex;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.form-box__futer-icon button {
  width: 200px;
  height: 50px;
}
.form-box__botton-futer {
  /*padding: 10px 28px 10px 29px;*/
  text-align: center;
}
.form-box__button-futer {
  display: flex;
}
.icon-icon-send {
  margin-left: 10px;
}
.form-box__futer-icon input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 12px;
}
.form-box__icons-futer h2 {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  padding-bottom: 10px;
}
.form-box__icons-futer {
  display: block;
  display: table-cell;
  margin-top: 0px;
  align-content: center;
  /*display: flex;
     justify-content: center;
     align-items: center;
     display: block;*/
  /* width: 206px;*/
  height: 80px;
  margin-right: 93px;
  /*margin-left: 70px;*/
}
