/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 ; */
/* белый #e5e5e5  */
/* акцент #2196f3 */
/* вторичный цвет фона #ffffff; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;

  --primary-white-color: #ffffff;
  --secondary-bg-color: #ffffff;
}
